<!DOCTYPE <!DOCTYPE html>
<html>
  <head>
  <title>Traveling Dwarf Algorithm</title>

  <style type="text/css">
    body {
      padding: 0;
      margin: 0;
    }
    div#container {
      width: 100%;
      background-color: #F2F2F2;

    }

    #dwarfnav {
      background-color: #F2F2F2;

    padding: 0;
    margin: 0;
    }

    .grid .row {
      margin: 0 0 1px 0;
      height: 30px;
    }

    .grid .piece {
      margin: 0;
      height: 30px;
      width: 30px;
      border: 1px black dotted;
      display: inline-block;
    }

    .grid .piece.block {
      box-shadow: 1px 1px 1px dimgrey;
    }

    .piece.traveler {
      background: url(images/dwarf.png) 5px 0 no-repeat;
      background-size: 70% 105%;
    }
    .traveler.down {
      transform: rotate(90deg);
    }
    .traveler.left {
      transform: scaleX(-1);
    }
    .traveler.up {
      transform: rotate(270deg);
    }
  </style>
</head>
<body>


{{{body}}}


</body>
</html>
