<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" href="css/mystyle.css">
  <link rel="stylesheet" href="css/materialize.css">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700,900' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai" rel="stylesheet">
  <title>Dan Eversen</title>

</head>
  <body>

  <div id="navMenu" class="valign-wrapper">
  <h1 id="myName" class="valign">Dan Eversen</h1>
  </div>

    <img src='/images/woodbackground.jpg' width="100%" class="z-depth-3" style="border-bottom: 1px solid grey;">

    {{{body}}}

  </body>
</html>
