<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" href="css/mystyle.css">
  <link rel="stylesheet" href="css/materialize.css">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700,900' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Dan Eversen</title>

</head>
<body>

{{{body}}}

<div class="row">
    <h1 class="center-align">Projects</h1>
</div>


    <div class="row">
      <div class="col s12 m6" id="sixtyCard">
        <div class="card medium hoverable">
          <div class="card-image">
            <img src="images/sixtyforty.jpg">
            <span class="card-title"></span>
          </div>
          <div class="card-content">
            <p>A website for the book "If 60 Is The New 40, Why Can't I get a Job?". Developed with Ruby on Rails and hosted on Heroku.</p>
          </div>
          <div class="card-action">
            <a href="https://if60isthenew40.com">If 60 Is The New 40, Why Can't I Get a Job?</a>
          </div>
        </div>
      </div>
      <div class="col s12 m6" id="tysonCard">
        <div class="card medium hoverable">
          <div class="card-image">
            <img src="images/tictactoe.jpg">
            <span class="card-title"></span>
          </div>
          <div class="card-content">
            <p>A Javascript-based Tic Tac Toe game that references Mike Tyson's Punchout! for NES. Turn on your speakers for maximum nostalgia.</p>
          </div>
          <div class="card-action">
            <a href="https://yoursweater.github.io">Mike Tyson's Tic Tac Toe!</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6" id="sullyCard">
        <div class="card medium hoverable">
          <div class="card-image">
            <img src="images/sullyheatcheck.jpg">
            <span class="card-title"></span>
          </div>
          <div class="card-content">
            <p>Sully Heat Check interacts with the NBA API to provide you up-to-date information about a player's performance.</p>
          </div>
          <div class="card-action">
            <a href="https://if60isthenew40.com">Sully Heat Check</a>
          </div>
        </div>
      </div>
    </div>

<div class="row">
    <h1 class="center-align">Contact</h1>
</div>

<div class="row" id="contactFooter">
  <div class="col s4 offset-s4">
    <div class="collection" id="contactInfo">
      <a href="https://github.com/yoursweater" class="collection-item">Github: Yoursweater</a>
      <a href="mailto:daneversen@gmail.com" class="collection-item">Email: daneversen@gmail.com</a>
      <a href="#!" class="collection-item">Phone: 973-598-5057</a>
    </div>
  </div>
</div>

  <script src="js/jquery.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
