<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="css/mystyle.css">
  <link rel="stylesheet" href="css/materialize.css">
  <link rel="stylesheet" href="css/animate.css">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700,900' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
  <title>Dan Eversen</title>
</head>
  <body>

<!-- WARNING:

I started slapping this portfolio site together before I really knew what I was doing when it came to web development. I simply would like to advise you that the hacky nature of this site is not reflective of my capabilities. I plan on refactoring the code shortly, but until then, I would ask you to avert your eyes (from the CSS in particular). It's such a major violation of DRY principles that I think the code might virtually exist in an ocean-planet like that one place from the Star Wars prequels. If that doesn't make any sense to you, don't worry about it. That said, my hexagonal CSS tech icons are pretty dope though. -->


 <div class="introContainer">
  <div class="middle">
      <div class="cutoff">
          <p class="text">Dan Eversen</p>
          <div class="hr"></div>
          <p class="desc"><span class="descText">I'm a full-stack developer with interests in React, Node.js, and CSS3.</span></p>
          <p class="desc" style="margin-bottom:0; margin-top:4px;"><span class="descDetails" href="#projectSection">Click to Learn More</span></p>
          <p class="desc" style="margin-top:0px;"><span class="descDetails" href="#bioSection"><i class="fa fa-arrow-down" aria-hidden="true"></i></span></p>
      </div>
  </div>
</div>


    {{{body}}}

  </body>
</html>
