<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" href="css/mystyle.css">
  <link rel="stylesheet" href="css/materialize.css">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700,900' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Dan Eversen</title>

</head>
  <body>
    <img src='/images/newestbackground.jpg' width="100%" class="z-depth-3" style="border-bottom: 1px solid grey;">

    {{{body}}}

  </body>
</html>
