<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" href="css/mystyle.css">
  <link rel="stylesheet" href="css/materialize.css">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700,900' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Dan Eversen</title>

</head>
<body>


      {{{body}}}

  <nav>
    <div id="primaryNav" class="nav-wrapper #cfd8dc blue-grey lighten-4 z-depth-3">
      <a id="theLogo" href="/" class="center brand-logo" style="color: #212121;font-weight: 500;font-size: 16px;"></a>
<!--       <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">WORK</a></li>
        <li><a href="/">ABOUT</a></li>
        <li><a href="/">CONTACT</a></li>
      </ul> -->
    </div>
  </nav>

      <div id="iconMenu" class="row center-align">

        <div class="col s4">
        <i class="large material-icons">work</i>
        <br>
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title" style="color: #ff9800;">My Projects</span>
              <p> - <a href="https://sully-heat-check.herokuapp.com/">Sully Heat Check</a> </p>
              <p> - <a href="https://yoursweater.github.io/">Mike Tyson's Tic Tac Toe</a> </p>
              <p> - <a href="https://if60isthenew40.com">If 60 is the new 40</a> </p>
              <p> - More to come! </p>
            </div>
          </div>
        </div>
        <div class="col s4">
        <i class="large material-icons">perm_identity</i>
        <br>
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title" style="color: #ff9800;">About Me</span>
              <p>I'm a newly-minted but quickly-learning Developer with interests spanning a variety of areas, including: Javascript, Ruby, Ruby on Rails, Node/Express, and SQL. I want to make websites that are aesthetically appealing, easy to use, and user-oriented in their design.</p>
            </div>
          </div>
        </div>
        <div class="col s4">
        <i class="large material-icons">contact_phone</i>
        <br>
         <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title" style="color: #ff9800;">Contact</span>
            <br>
            <p><b>Email</b>: <a href="mailto:daneversen@gmail.com">daneversen@gmail.com</a></p>
            <p><b>Phone</b>: 973-598-5057</p>
            <p><b>Github</b>: <a href="https://github.com/yoursweater">yoursweater</a></p>
          </div>
         </div>
        </div>
      </div>

<!-- Footer       -->

<!-- <footer>
  <div>
      <h6 style="text-align: center; font-weight: bold; color: #ff9800;">Contact Me</h5>
      <div>
        <ul style="text-align: center;">
          <li>Dan Eversen</li>
          <li><b>Email</b>: <a href="mailto:daneversen@gmail.com">daneversen@gmail.com</a></li>
          <li><b>Phone</b>: 973-598-5057</li>
          <li><b>Github</b>: <a href="https://github.com/yoursweater">yoursweater</a></li>
        </ul>
      </div>
  </div>
</footer>
 -->



  <script src="js/jquery.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
