<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="css/mystyle.css">
  <link rel="stylesheet" href="css/materialize.css">
  <link rel="stylesheet" href="css/animate.css">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700,900' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700' rel='stylesheet' type='text/css'>
  <!-- <link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <title>Dan Eversen</title>

</head>
  <body>


  <div id="navMenu" class="valign-wrapper nav-down">
    <h1 id="myName" class="valign animated fadeInLeft">Dan Eversen</h1>

     <div id="topIcons" class="container">
      <div style="margin-top:20px;" class="row valign">
        <div class="col s2 m1 l1 offset-s2 offset-m7 offset-l7">
          <a href="mailto:daneversen@gmail.com"><i class="small material-icons">email</i></a>
        </div>
        <div class="col s2 m1 l1">
          <a href="https://github.com/yoursweater"><i class="small material-icons">code</i></a>
        </div>
        <div class="col s2 m1 l1">
          <a href="tel:+19735985057"><i class="small material-icons">phone</i></a>
        </div>
        <div class="col s2 m1 l1">
          <a href="/docs/DanielEversenResume.pdf" target="_blank"><i class="small material-icons">assignment_ind</i></a>
        </div>
      </div>
    </div>
  </div>


    <img src='/images/newbackground3.png' width="100%" class="z-depth-3" style="border-bottom: 1px solid grey;">

    {{{body}}}

  </body>
</html>
