
<div id="bgFill">
  <center>
    <div id="dwarfnav">
      <a href="/" style="text-decoration:none;"><h1>Dan Eversen</h1></a>
      <p style="width: 680px;padding:0;margin:0;">I created this maze-solving dwarf algorithm both for fun and for education. As you can see, the dwarf is now capable of solving simple mazes, but there's still a lot of work to do before he can solve anything complex. (p.s., yes, I'm aware that there are many maze-solving libraries available on Github that already do this. But I wanted to make my own!)</p>
    </div>
    <div id="container"></div>
  </center>
</div>

  <script src="js/gridapp.js"></script>
  <script type="text/javascript">
    window.g = new Grid(20);
    g.attachTo('#container');
    window.d = new Traveler(0, 0, window.g);

    var coords = [[3,3,"color grey"], [4,3,"color grey"]]

    function add(x, y) {
      coords.push([x, y, 'color grey']);
    }

    for (var y = 7; y < 20; y++) {
      for (var x = 0; x < 4; x++) {
        add(x, y);
      }
    }

    for (var y = 0; y < 16; y++) {
      for (var x = 5; x < 10; x++) {
        add(x, y);
      }
    }

    for (var y = 0; y < 5; y++) {
      for (var x = 10; x < 20; x++) {
        add(x, y);
      }
    }

    for (var y = 17; y < 20; y++) {
      for (var x = 4; x < 20; x++) {
        add(x, y);
      }
    }

    for (var y = 6; y < 17; y++) {
      for (var x = 11; x < 16; x++) {
         add(x, y);
      }
    }

    for (var y = 5; y < 14; y++) {
      for (var x = 17; x < 20; x++) {
         add(x, y);
      }
    }

    for (var y = 15; y < 17; y++) {
      for (var x = 16; x < 20; x++) {
        add(x, y);
      }
    }

    g.batchFill(coords);
    g.fill(19, 14, 'color green');
    // END SETUP CODE
  </script>
  <script src="js/jquery.js"></script>
  <script src="js/dwarfrunner.js"></script>

