<div id="container">
    <div id="mainPage">
      <p id="name">Developer, Skiier, Designer, and Professional Nerd.</p>
        <div id="projectLinks">
        </div>
      <img src="/images/woodbackground.jpg" alt="" />
    </div>
</div>






<!-- JAVASCRIPT -->

<script type="text/javascript">
(function() {

var img = document.getElementById('container').firstChild;
img.onload = function() {
    if(img.height > img.width) {
        img.height = '100%';
        img.width = 'auto';
    }
var text = document.getElementById('name');
text.onload = function(){
      if(text.height > text.width) {
        text.height = '100%';
        text.width = 'auto';
    }
}
};

}());
</script>
