<div id="projectSection">
  <div class="row">
      <h1 id="projectTitle" class="center-align">Projects</h1>
  </div>

    <div class="row">
      <div class="col s12 m6 l5 push-l1" id="sixtyCard">
          <a href="http://www.if60isthenew40.com"><div class="card medium hoverable">
            <div class="card-image">
              <img src="images/sixtyforty.jpg">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p>A website for the book "If 60 Is The New 40, Why Can't I get a Job?". Developed with Ruby on Rails and hosted on Heroku.</p>
            </div>
            <div class="card-action">
              <a href="http://www.if60isthenew40.com">If 60 Is The New 40, Why Can't I Get a Job?</a>
            </div>
          </div></a>
      </div>
      <div class="col s12 m6 l5 push-l1" id="tysonCard">
          <a href="https://yoursweater.github.io"><div class="card medium hoverable">
            <div class="card-image">
              <img src="images/tictactoe.jpg">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p>A Javascript-based Tic Tac Toe game that references Mike Tyson's Punchout! for NES. Turn on your speakers for maximum nostalgia.</p>
            </div>
            <div class="card-action">
              <a href="https://yoursweater.github.io">Mike Tyson's Tic Tac Toe!</a>
            </div>
          </div></a>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6 l5 push-l1" id="sullyCard">
          <a href="https://sully-heat-check.herokuapp.com/"><div class="card medium hoverable">
            <div class="card-image">
              <img src="images/sullyheatcheck.jpg">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p>Sully Heat Check interacts with the NBA API to provide you up-to-date information about a player's performance. Built with Node/Express.js.</p>
            </div>
            <div class="card-action">
              <a href="https://sully-heat-check.herokuapp.com/">Sully Heat Check</a>
            </div>
          </div></a>
      </div>
      <div class="col s12 m6 l5 push-l1" id="seanCard">
          <a href="http://www.seanweather.com/"><div class="card medium hoverable">
            <div class="card-image">
              <img src="images/seanweather.jpg">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p>Contributor to SeanWeather, an open-source website designed to provide fast (i.e., minimal load time), no-frills weather information. Built with Python (Flask).</p>
            </div>
            <div class="card-action">
              <a href="http://www.seanweather.com/">SeanWeather</a>
            </div>
          </div></a>
      </div>
    </div>

    <div style="margin-bottom:0px; padding-bottom:30px;" class="row">
      <div class="col s12 m6 l5 push-l1" id="challengeCard">
          <a href="https://github.com/yoursweater/vayner-challenge/tree/master"><div class="card medium hoverable">
            <div class="card-image">
              <img src="images/codeChallenge.jpg">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p>A front end coding challenge that interacts with an API and presents dynamic data. Built utilizing Node, AJAX and jQuery.</p>
            </div>
            <div class="card-action">
              <a href="https://github.com/yoursweater/vayner-challenge/tree/master">Front End Challenge</a>
            </div>
          </div></a>
      </div>
    </div>
</div>

<div id="contactSection">
  <div class="row">
      <h1 id="contactTitle" class="center-align">Contact</h1>
  </div>

<!--   <div class="row" id="contactFooter">
    <div class="col s4 offset-s4">
      <div class="collection" id="contactInfo">
        <a href="https://github.com/yoursweater" class="collection-item">Github: Yoursweater</a>
        <a href="mailto:daneversen@gmail.com" class="collection-item">Email: daneversen@gmail.com</a>
        <a href="/docs/resume.pdf" target="_blank" class="collection-item">Resume</a>
        <a href="#!" class="collection-item">Phone: 973-598-5057</a>
      </div>
    </div>
  </div> -->


  <div id="iconSection" class="container">
    <div style="margin-bottom:0px;" class="row center-align">
      <div class="col s3 m3 l3">
        <a href="mailto:daneversen@gmail.com"><i class="medium material-icons">email</i>
        <p style="margin-bottom:0px; margin-top:0px;">Email</p>
        <p class="iconText" style="margin-top: 0px; font-size:1em;">(daneversen@gmail.com)</p></a>
      </div>
      <div class="col s3 m3 l3">
        <a href="https://github.com/yoursweater"><i class="medium material-icons">code</i>
        <p style="margin-bottom:0px; margin-top:0px;">Github</p>
        <p class="iconText" style="margin-top: 0px; font-size:1em;">(Yoursweater)</p></a>
      </div>
      <div class="col s3 m3 l3">
        <a href="tel:+19735985057"><i class="medium material-icons">phone</i>
        <p style="margin-bottom:0px; margin-top:0px;">Phone</p>
        <p class="iconText" style="margin-top: 0px;font-size:1em;">(973-598-5057)</p></a>
      </div>
      <div class="col s3 m3 l3">
        <a href="/docs/resume.pdf" target="_blank"><i class="medium material-icons">assignment_ind</i>
        <p style="margin-top:0px">Resume</p></a>
      </div>
    </div>
  </div>




</div>

  <script src="js/jquery.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/main.js"></script>
