<div id="bioSection">
  <div class="row" id="bioRow">
    <div id="leftBio" class="col s12 m6">
      <div id="bioTitle" class="center-align"><span class="text-stroke-box">About Me</span></div>
        <h3 id="bioSubtitle">{   <span style='margin-left:6%; margin-right: 6%;'>Here's some stuff that I do</span>  }</h3>
        <p id="bioDescription">
          <ul id='bio-list'>
            <li>- Front end development (proficient in both React and Angular)</li>
            <li>- Back end development (Flask + Alembic + Postgres are my go-to's, but also DynamoDB)</li>
            <li>- Mapping (I love MapBox)</li>
            <li>- Animation (Greensock is great)</li>
            <li>- Machine Learning (Tensorflow.js! Woo!)</li>
            <li>- Cloud computing (AWS Lambda gets the job done, as does Google Functions)</li>
          </ul>
        </p>
    </div>

    <div id="rightBio" class="col s2 m6">
      <div id="rightBioContainer">
        <h3 id="techTitle">Key Tech</h3>
         <div id="techBox">
          <div class="hexagon react">
            <div class="hexTop"></div>
            <div class="hexBottom"></div>
          </div>
          <div class="hexagon hfive">
            <div class="hexTop"></div>
            <div class="hexBottom"></div>
          </div>
          <div class="hexagon node">
            <div class="hexTop"></div>
            <div class="hexBottom"></div>
          </div>
          <br>
          <div class="hexagon jquery">
            <div class="hexTop"></div>
            <div class="hexBottom"></div>
          </div>
          <div class="hexagon cthree">
            <div class="hexTop"></div>
            <div class="hexBottom"></div>
          </div>
          <div class="hexagon firebase">
            <div class="hexTop"></div>
            <div class="hexBottom"></div>
          </div>
         </div>
       </div>
    </div>
  </div>
</div>

<div id="projectSection">
  <div class="row">
      <h1 id="projectTitle" class="center-align">Several Recent Projects...</h1>
  </div>



    <div class="row">
        <div class="col s12 m6 l6 push-l3 card-fader" id="monteCard">
          <a href="#"><div data-tilt data-tilt-perspective="800" class="card medium hoverable" id="confidential">
            <div class="card-image">
              <img src="images/uhoh.png">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p>As a McKinsey consultant, all of my recent projects have been confidential, which means I can't share links or screenshots. However, I am allowed to talk about them (sans client-identifying information), so ask me!</p>
            </div>
            {{!-- <div class="card-action">
              <a href="http://www.montecristopilotico.com">Montecristo Pilotico Cigars</a>
            </div> --}}
          </div></a>
      </div>
    </div>

 


<!-- CONTACT -->
<div id="contactSection">
      <div id="contactTitle" class="center-align"><span class="text-stroke-box">Contact</span></div>
  <div id="iconSection" class="container">
    <div style="margin-bottom:0px;" class="row center-align">
      <div class="contactIcon col s4 m4 l4" id="emailIcon">
        <a href="mailto:daneversen@gmail.com"><i class="fa fa-envelope" id="envIcon"></i>
        <div class="slideTextE">
          <p class="emailText">Email</p>
          <p class="emailText">(daneversen@gmail.com)</p>
          </div></a>
      </div>
      <div class="contactIcon col s4 m4 l4" id="githubIcon">
        <a href="https://github.com/yoursweater" target="_blank"><i class="fa fa-github" aria-hidden="true" id="gitIcon"></i>
        <div class="slideTextG">
          <p>Github</p>
          <p>(Yoursweater)</p>
        </div></a>
      </div>
      <div class="contactIcon col s4 m4 l4" id="linkedIcon">
        <a href="https://linkedin.com/in/danieleversen" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true" id="linkIcon"></i>
        <div class="slideTextL">
          <p>LinkedIn</p>
          </div></a>
      </div>
    </div>

    <!-- <div style="height:20px;" class="bottom"></div> -->
  </div>
</div>

  <script src="js/jquery.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/main.js"></script>
  <script src="https://unpkg.com/tilt.js@1.1.21/dest/tilt.jquery.min.js"></script>
  <script src="https://use.fontawesome.com/36d0826d0e.js"></script>
