<div id="container">

    <h2>Portfolio site coming soon...</h2>
    <p id="name">Dan Eversen</p>
    <img src="/images/croppedbackground.jpg" alt="" />
</div>


<script type="text/javascript">
(function() {

var img = document.getElementById('container').firstChild;
img.onload = function() {
    if(img.height > img.width) {
        img.height = '100%';
        img.width = 'auto';
    }
};

}());
</script>
