@media (max-width: 480px) {
  .iconText {display: none;}
  #navMenu {display:none;}
}

@media only screen and (max-device-width: 480px) {
  .iconText {display: none;}
  #navMenu {display:none;}
}

#topIcons{
  float: right;
}

#myName{
padding-left: 40px;
font-family: 'Lobster', cursive;
color: #00B8D4;
width: 60%;
font-size: 6vw;
}
i.small{
  color: #0f0f0f;
  transition: all .2s ease-in-out;
}

i.small:hover{
  color: #b7b2b2;
  transform: scale(1.5);
}

#navMenu{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 20%;
  z-index: 10;
  /* background-color: rgba(51, 51, 51, .5); */
  background: linear-gradient(to bottom, rgba(51, 51, 51, 1), rgba(51, 51, 51, .2));
}

i.medium{
  color: #999797;
  transition: all .2s ease-in-out;
}

i.medium:hover{
  color: #565656;
  transform: scale(1.3);
}

#iconSection{
  padding-top: 20px;
  padding-bottom: 20px;
}

#projectSection{
  background-color: #F2F2F2;
}

#contactSection{
  background-color: #333333;
}

#projectTitle{
  margin-top: 0px;
  padding-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  background-color: #F2F2F2;
  color: #00B8D4;
  font-family: 'Lobster', sans-serif;
}

#contactTitle{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 30px;
  background-color: #333333;
  color: #00B8D4;
  font-family: 'Lobster', sans-serif;
}

#contactFooter{
  margin-bottom: 0px;
}

#contactInfo{
  margin-top: 20px;
}

#challengeCard{
  opacity: 0;
}

#seanCard{
  opacity: 0;
}

#sullyCard{
  opacity: 0;
}

#tysonCard{
  opacity: 0;
}

#sixtyCard{
  opacity: 0;
}

#primaryNav {
  margin-top: -10px;
}

#iconMenu {
  margin-top: 25px;
  opacity: 0;
}

#theLogo{
  left:50%;
}

footer {
  background-color: #546E7A;
  width: 100%;
  height: 200px;
}

#footer-top {
  padding-top: 20px;
  text-align: center;
}

.footer-nav {
  display: inline;
  padding: 20px;
}

.footer-list {
  text-align: center;
}

.large.material-icons {
  color: #f44336;
}

h6 {
  padding-top: 20px;
}

/* SLIDER */

.slider .indicators .indicator-item {
  background-color: #666666;
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.slider .indicators .indicator-item.active {
  background-color: #ffffff;
}
.slider {
  width: 900px;
  margin: 0 auto;
  height: 400px !important;
}
.slider .indicators {
  bottom: 60px;
  z-index: 100;
  /* text-align: left; */
}
