/*
#container {
   width: 100%;
   height: auto;
}

#container img {
   width: 100%;
   margin-bottom: 0px;
}

h2 {
   position: relative;
   top: 0;
   left: 50px;
   width: 100%;
}
body{
  margin: 0px;
}

#name{
  position: absolute;
  left: 10%;
  right: auto;
  top: 40%;
  color: black;
  font-size: 8vh;
  font-family: 'Merriweather', Arial, serif;
  font-weight: 700;
  margin-right: 10%;
  overflow: auto;
  text-overflow: ellipsis;

}

html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

nav ul a {
  margin-right: 50px;
}

body > nav > div > a {
  margin-left: 40px;
}

.brand-logo{
  font-size: 4vh;
}

body > footer {
  margin-top: 0px;
  padding-top: 0px;
}

#theFooter{
margin: 0px;
padding: 0px;

}
#projectlinks {
  clear:both;
  width:auto;
  height: 20px;
  position: relative;
}

#mainPage{
  padding: 0px;
  margin-bottom: -10px;
}
 */

#primaryNav {
  margin-top: -10px;
}

#iconMenu {
  margin-top: 25px;
}

#theLogo{
  left:50%;
}
