#contactInfo{
  margin-top: 20px;
}

/* #contactFooter{
  background-image: url('/images/footer3.jpg');
  background-size: 100%;
  margin-bottom: 0;
  background-repeat: no-repeat;
} */

#sullyCard{
  opacity: 0;
}

#tysonCard{
  opacity: 0;
}

#sixtyCard{
  opacity: 0;
}

#primaryNav {
  margin-top: -10px;
}

#iconMenu {
  margin-top: 25px;
  opacity: 0;
}

#theLogo{
  left:50%;
}

footer {
  background-color: #546E7A;
  width: 100%;
  height: 200px;
}

#footer-top {
  padding-top: 20px;
  text-align: center;
}

.footer-nav {
  display: inline;
  padding: 20px;
}

.footer-list {
  text-align: center;
}

.large.material-icons {
  color: #f44336;
}

h6 {
  padding-top: 20px;
}

